
<% if user_signed_in? %>
<h1>Home</h1>
<p>Leads index will show here.</p>

<% else %>
<div class="hero-unit">
	<h1>Welcome to SnapLeads</h1>
	<p>
		The simplest CRM ever.
	</p>
	<p>
		<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>

<% end%>

