<div class="hero-unit">
	<h1>Welcome to Pinterestefani!</h1>
	<p>
		This site kicks ass.
	</p>
	<p>
		<%= link_to "Sign up now!", "http://snapdocs.com", class: "btn btn-primary btn-large" %>
	</p>
</div>

