<h1>Welcome to Pinterest (clone)</h1>

<p>
	<%= link_to "One Month Rails", "http://snapdocs.com" %>
 	<a href="#">Sign Up Now!</a>
</p>
<p>
	Check out some of my other projects:<br>
	<%= link_to "SnapDocs", "http://snapdocs.com" %><br>

	<%= link_to "NOTARYSync", "http://notarysync.com" %><br>
</p>

